[data-type="synonym-view"] {
  .search-row .search-input-container {
    width: 100%;
  }
  .syn-active-word {
    font-size: var(--font-ui-medium);
    color: var(--text-accent);
    border-color: var(--background-modifier-border-focus);
  }
  .syn-cursor-icon {
    width: 40px;
    &:hover {
      background-color: var(--background-modifier-active-hover);
      border: 1px solid var(--background-modifier-border-hover);
    }
  }
}

.syn {
  padding: 4px 16px 32px !important;

  :is(.syn-heading, .syn-info, .syn-none) {
    margin: 16px 0 8px;
  }
  .syn-heading:first-of-type {
    margin-top: 0px;
  }

  :is(.syn-lookup, .syn-title) {
    margin-bottom: 8px;
  }

  .syn-title {
    color: var(--color-orange);
    font-size: 1.1em;
  }
  
  .syn-intro {
    color: var(--text-muted);
    margin-bottom: 8px;
  }

  ul.syn-help {
    border: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    padding: 8px;
    padding-inline-start: 27px;
    li {
      color: var(--text-muted);
      font-size: var(--font-smaller);
      padding: 4px;
    }
  }
  
  :is(.syn-def, .syn-ex) {
    margin: 4px 0 8px;
    user-select: text !important;
    -webkit-user-select: text !important;
  }
  .syn-def {
    color: var(--text-muted);
    counter-increment: part 1;
    margin-left: 1em;
    padding: 2px;
    text-indent: -1em;
    &::before {
      content: counter(part) ". ";
    }
  }
  .syn-ex {
    color: var(--text-faint);
    font-size: var(--font-smaller);
    margin-left: 1.25em;
  }
  
  .syn-results {
    margin-bottom: 1.3em;
    max-height: inherit;
  }

  .syn-info {
    color: var(--text-muted);
    margin-bottom: 2em;
    white-space: pre-line;
  }

  .syn-heading {
    color: var(--color-orange);
    counter-reset: part 0;
    font-family: var(--font-interface);
    span {
      padding: 0 8px;
      --icon-size: var(--icon-l);
      --icon-stroke: var(--icon-l-stroke-width);
    }
  }
  
  .syn-none {
    color: var(--text-faint);
    &:after {
      content: "None";
      font-size: 0.7em;
      margin-left: 0.5em;
      vertical-align: super;
    }
  }
  
  .syn-word {
    color: var(--text-muted);
    display: inline-block;
    padding: 4px 8px;
  }
  
  :is(.syn-def, .syn-word, .syn-def:before) {
    &:hover {
      color: var(--text-normal);
      background: var(--background-modifier-active-hover);
      border-radius: 4px;
    }
  }
}

